:root {
  --primary-color: grey;
  --hover-color: #aeaeae;
  --startbg: #8d8d8d;
  --seclayerColor: dimgray;
  --textcolor: black;
  --windowsBlue: #2486e9;
  --windowsSelect: #2486e970;
  --windowsHover: #759ec820;
  --windowsClick: #4e6780;
  --clickMenu: #e7e7e7;
  --windowsFontSize: 12.5px;
  --topWindowIndex:1;
  --lightGray:#e7e5e5;
  --WindowtoolBarFontSize:11px;
  --WindowtoolBarBGC:#f5f5f5;
  --linecolor:#d8d8d8;
  --folderSelect:#bedeff70;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
