:root{
	--primary-color:grey;
	--hover-color:#aeaeae;
	--startbg:#8d8d8d;
	--seclayerColor:dimgray;
	--text-color:black;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
